<!doctype html>
<html lang="en">
  <head>
    <title>Map Selector</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class = "transition slide"></div>
    <div class = "heading">
      <h1>Accessible Weather Forecast Application</h1>
      <h2>Click on a location on the map below or type in a location to get the weather forecast</h2>
    </div>
    <div class="searchbar">
      <input
        id="search"
        class="controls"
        type="text"
        placeholder="Search for a location..."
        aria-label="Write something here to select a US location to get weather from. Click down to get autofill locations"
      />
    </div> 
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8bxQOIFjitYbXXjlCMScqdaynYOCfzsY&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
    <script src="./index.js"></script>
  </body>
</html>
