<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="locationPage.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Location Page</title>
  </head>
  <body>
    <div class="transition fade is-active"></div>
    <div class="topnav">
      <button
      class="other-button"
      id="back"
      onclick="location.href = './index.html'">
      Back
    </button>
    <div class="anim-table-button">
      <button class="other-button" onclick="changeView()" id="viewButton">Table View</button>
      <button class="other-button" onclick="animation()">Play Animation</button>
    </div>
    <h1 id="city"></h1>
    </div>
    <div tabindex="0" class="instructions">
      <h3>
        Click the back button to go back. Click the table view to show the table of data. Click on play animation to play an animation of the graphs on the right and play sound.
        Click on "Previous Day" and "Next Day" to toggle between days.
      </h3>
    </div>
    <div class="container left">
      <div id = "weather-data-table" style.display="none">
        <div  tabindex="0" aria-label="Select any of the following buttons to change the table view mode for this app">Select mode</div>
        <button class="table-button" onclick="changeTableSelect('all')">All</button>
        <button class="table-button" onclick="changeTableSelect('temperature')">Temperature</button>
        <button class="table-button" onclick="changeTableSelect('precipitation')">Probability of Precipitation</button>
        <button class="table-button" onclick="changeTableSelect('wind')" aria-label="Winspeed and Direction. This is the final mode option.">Windspeed and Direction</button>
        <table id="data-table" class="table"></table>
      </div>
      <div id = "current-information">
        <div tabindex="0" class="weather-box">
          <h2>Current Weather</h2>
          <div class="column">
            <p id="current-temp"></p>
            <div>
              <p id="temps"></p>
            </div>
            <p id="condition"></p>
            <p id="wind-speed"></p>
            <p id="wind-direction"></p>
          </div>
          <div class="column">
            <div class="weather-image" id="weather-image"></div>
          </div>
        </div>
        <div tabindex="0" class="weather-alert">
          <h2>Weather Alert</h2>
          <div class="column"></div>
            <p id="weather-alert"></p>
          <div class="column"></div>
        </div>
        <div tabindex="0" class="summary">
          <h2>Summary</h2>
          <div class="column">
            <p id="summary"></p>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
    <div class="container right" id="graphContainer">
      <div class="buttons">
        <button class="other-button" onclick="scrollRight()">Next Day</button>
        <button class="other-button" onclick="scrollBack()">
          Previous Day
        </button>
      </div>
    </div>
    <script src="./locationPage.js"></script>
    <!-- <button class="other-button" onclick="changeView()" >Table View</button>
    <button class="other-button" onclick="animation()">Play Animation</button> -->
    
  </body>
</html>
