<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="locationPage.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div class="transition fade is-active"></div>
    <button
      class="back-button"
      id="back"
      onclick="location.href = './index.html'"
    >
      Back
    </button>
    <div class="container left">
      <div class="weather-box">
        <h2>Current Weather</h2>
        <div class="column">
          <p id="current-temp"></p>
          <div>
            <p id="temps"></p>
          </div>
          <p id="condition"></p>
          <p id="wind-speed"></p>
          <p id="wind-direction"></p>
        </div>
        <div class="column">
          <div class="weather-image" id="weather-image"></div>
        </div>
      </div>
      <div class="weather-alert" id="weather-alert">
        <h2>Weather Alert</h2>
        <div class="column"></div>
        <div class="column"></div>
      </div>
      <div class="summary">
        <h2>Summary</h2>
        <div class="column">
          <p id="summary"></p>
        </div>
        <div class="column"></div>
      </div>
    </div>
    <div class="container right" id="graphContainer">
      <div class="buttons">
        <button class="other-button" onclick="scrollRight()">Next Day</button>
        <button class="other-button" onclick="scrollBack()">
          Previous Day
        </button>
      </div>
    </div>
    <button class="other-button" onclick="tableView()">Table View</button>
    <button class="other-button" onclick="animation()">Play Animation</button>
    <script src="./locationPage.js"></script>
  </body>
</html>
